In [1]:
from google.colab import files
import pandas as pd
import io
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Churn_Modelling.csv")

In [3]:
print(df)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
X=df.iloc[:,:-1].values
print(X)

[[1 15634602 'Hargrave' ... 1 1 101348.88]
 [2 15647311 'Hill' ... 0 1 112542.58]
 [3 15619304 'Onio' ... 1 0 113931.57]
 ...
 [9998 15584532 'Liu' ... 0 1 42085.58]
 [9999 15682355 'Sabbatini' ... 1 0 92888.52]
 [10000 15628319 'Walker' ... 1 0 38190.78]]

In [13]:
y=df.iloc[:,-1].values
print(y)

[1 0 1 ... 1 1 0]

In [14]:
print(df.isnull().sum())

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [15]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [16]:
print(df['HasCrCard'].describe())

count    10000.00000
mean         0.70550
std          0.45584
min          0.00000
25%          0.00000
50%          1.00000
75%          1.00000
max          1.00000
Name: HasCrCard, dtype: float64

In [17]:
data = df.drop(['Surname', 'Geography','Gender'], axis=1)
data.head()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,619,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,608,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,502,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,699,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,850,43,2,125510.82,1,1,1,79084.10,0

In [18]:
scaler=MinMaxScaler()
df1=pd.DataFrame(scaler.fit_transform(data))
print(df1)

          0         1      2         3    4         5         6    7    8   \
0     0.0000  0.275616  0.538  0.324324  0.2  0.000000  0.000000  1.0  1.0
1     0.0001  0.326454  0.516  0.310811  0.1  0.334031  0.000000  0.0  1.0
2     0.0002  0.214421  0.304  0.324324  0.8  0.636357  0.666667  1.0  0.0
3     0.0003  0.542636  0.698  0.283784  0.1  0.000000  0.333333  0.0  0.0
4     0.0004  0.688778  1.000  0.337838  0.2  0.500246  0.000000  1.0  1.0
...      ...       ...    ...       ...  ...       ...       ...  ...  ...
9995  0.9996  0.162119  0.842  0.283784  0.5  0.000000  0.333333  1.0  0.0
9996  0.9997  0.016765  0.332  0.229730  1.0  0.228657  0.000000  1.0  1.0
9997  0.9998  0.075327  0.718  0.243243  0.7  0.000000  0.000000  0.0  1.0
9998  0.9999  0.466637  0.844  0.324324  0.3  0.299226  0.333333  1.0  0.0
9999  1.0000  0.250483  0.884  0.135135  0.4  0.518708  0.000000  1.0  0.0

            9    10
0     0.506735  1.0
1     0.562709  0.0
2     0.569654  1.0
3     0.469120  0.0
4     0.395400  0.0
...        ...  ...
9995  0.481341  0.0
9996  0.508490  0.0
9997  0.210390  1.0
9998  0.464429  1.0
9999  0.190914  0.0

[10000 rows x 11 columns]

In [19]:
X_train ,X_test ,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [20]:
print("X_train\n")
print(X_train)

X_train

[[547 15708916 'Paterson' ... 1 0 47414.15]
 [6203 15684995 'Chamberlain' ... 0 1 51011.29]
 [9544 15613518 'Bellucci' ... 0 1 122584.29]
 ...
 [5595 15658432 'Freeman' ... 1 1 47886.44]
 [7547 15735221 'Sousa' ... 1 0 61312.15]
 [5027 15673223 'Hou' ... 0 0 164287.86]]

In [21]:
print("\nLenght of X_train ",len(X_train))

Lenght of X_train  8000

In [22]:
print("\nX_test\n")
print(X_test)

X_test

[[5866 15735339 'Lynch' ... 1 0 76884.05]
 [2454 15619935 'Vanmeter' ... 1 1 4423.63]
 [137 15802381 'Li' ... 0 1 167784.28]
 ...
 [5939 15679668 'Yao' ... 0 1 162087.82]
 [359 15633950 'Yen' ... 1 1 123547.28]
 [9677 15720924 'Chijioke' ... 1 1 75503.6]]

In [23]:
print("\nLenght of X_test ",len(X_test))

Lenght of X_test  2000